<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<a href="/myapp/changepwd">change password</a><br />
<a href="/myapp/addalphabet/">add alphabet</a><br />
<a href="/myapp/viewalphabet/">view alphabet </a><br />


<a href="/myapp/addvideo">add video</a><br />
<a href="/myapp/viewvideo/">view video  </a><br />
<a href="/myapp/viewtrainerprofile">view trainer profile</a><br />

<a href="/myapp/chatwithuser"> messages </a><br/>




<a href="/myapp/viewreq/">manage request on messages</a><br />
</body>
</html>
