<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<a href="/myapp/changepwd/">change password</a><br/>
<a href="/myapp/viewcomplaints/">view complaints</a><br/>


<a href="/myapp/viewtrainers/">view trainers and manage status</a><br/>
<a href="/myapp/viewapprovedtrainer/">view approved trainers</a><br/>
<a href="/myapp/viewrejectedtrainer/">view rejected trainers </a><br/>
<a href="/myapp/viewusers/">view users</a><br/>
<a href="/myapp/logout/">logout</a><br/>
</body>
</html>
