<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<a href="/myapp/viewuserprofile/">view userprofile  </a><br />
<a href="/myapp/changepwd">change password</a><br />
<a href="/myapp/viewtrainername/">view trainer detail  </a><br/>
<a href="/myapp/reqstatusofuser/">request status of user</a><br />


<a href="/myapp/sendcmpviewrply/">view complaint reply</a><br />



<!--<a href="/myapp/sendreviewbyuser/">send review </a><br />
<!--<a href="/myapp/signupuser/">sign up user  </a><br />-->
<!--<a href="/myapp/viewalphabetuser/">view alphabet </a><br />>-->
<a href="/myapp/chatwithtrainer/"> messages </a><br/>

<!--<a href="/myapp/edituserprofile/">edit user profile </a><br />-->
<a href="/myapp/viewvideouserall/">view video  </a><br />
</body>
</html>
