<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

{% extends 'user/userindex.html' %}
{% block body %}
<body>
<form action="/myapp/viewtrainername_post/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table width="200" border="1">
  <tr>
    <td>Name</td>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    <td><input type="submit" name="button" id="button" value="Go" /></td>
  </tr>
</table>

<table width="200" border="1">

  <tr>
    <td>S/no</td>
    <td>Name</td>
    <td>Email</td>
      <td>Phone</td>
      <td>Distrcit</td>
      <td>Photo</td>
      <td>Certificate</td>
      <td>Send Request</td>
      <td>Send complaint</td>
    
  </tr>
    {% for i in data %}
  <tr>

    <td>&nbsp;{{ forloop.counter }}</td>
    <td>{{ i.name }}</td>
     <td>{{ i.email }}</td>
      <td>{{ i.phone }}</td>
      <td>{{ i.district }}</td>
       <td><a href="{{ i.photo }}"><img src="{{ i.photo }}"height="80px" width="80px"> </a></td>
             <td><a href="{{ i.certificate }}"><img src="{{ i.certificate }}"height="80px" width="80px"> </a></td>

    <td>&nbsp;<a href="/myapp/sendreqbyuser/{{ i.id }}">Send request</a></td>
  <td>&nbsp;<a href="/myapp/sendcomplaint/{{ i.id }}">Send complaint</a></td>
<td>&nbsp;<a href="/myapp/viewalphabetuser/{{ i.id }}">VIew alphabets</a></td>
  <td><a href="/myapp/viewvideouser/{{ i.id }}">View Video</a></td>
  </tr>
     {% endfor %}
</table>

</form>
</body>
{% endblock %}
</html>
